<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jan 4 20, 13:18</string>
      <string>glyphs.J_an 4 20, 13_18</string>
    </array>
    <array>
      <string>Jan 4 20, 13:18.background</string>
      <string>glyphs.J_an 4 20, 13_18.background</string>
    </array>
    <array>
      <string>[140].background</string>
      <string>glyphs._140_.background</string>
    </array>
  </array>
</plist>
