<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>{117,12,100,100}</string>
      <string>glyphs.{117,12,100,100}</string>
    </array>
    <array>
      <string>{117,12,100,100}.background</string>
      <string>glyphs.{117,12,100,100}.background</string>
    </array>
    <array>
      <string>Jan 4 20, 13:17</string>
      <string>glyphs.J_an 4 20, 13_17</string>
    </array>
    <array>
      <string>Jan 4 20, 13:17.background</string>
      <string>glyphs.J_an 4 20, 13_17.background</string>
    </array>
  </array>
</plist>
