<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>won</key>
    <string>won.glif</string>
  </dict>
</plist>
