<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>818</integer>
    <key>capHeight</key>
    <integer>713</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Commissioner Project Authors (https://github.com/kosbarts/Commissioner/Authors.txt)</string>
    <key>descender</key>
    <integer>-192</integer>
    <key>familyName</key>
    <string>Commissioner Flair</string>
    <key>italicAngle</key>
    <integer>-12</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/12/14 12:45:33</string>
    <key>openTypeHheaAscender</key>
    <integer>1017</integer>
    <key>openTypeHheaDescender</key>
    <integer>-206</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Kostas Bartsokas</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.kostasbartsokas.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Kostas Bartsokas</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.kostasbartsokas.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Commissioner Flair</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Bold Italic</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1017</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-206</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>IDKB</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1212</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>293</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-13.605263157894736</real>
      <integer>0</integer>
      <real>499.2631578947368</real>
      <real>513.2105263157895</real>
      <real>687.9473684210526</real>
      <real>702.578947368421</real>
      <integer>713</integer>
      <real>727.6315789473684</real>
      <real>732.6578947368421</real>
      <real>747.2894736842105</real>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-205.94736842105263</real>
      <integer>-192</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>142.5263157894737</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>156.31578947368422</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Commissioner Flair Regular </string>
    <key>styleMapStyleName</key>
    <string>bold italic</string>
    <key>styleName</key>
    <string>Bold Italic</string>
    <key>trademark</key>
    <string>Commissioner is a trademark of Kostas Bartsokas</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>499.2631578947368</real>
  </dict>
</plist>
