<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>e</key>
    <string>e.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
  </dict>
</plist>
