<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflexcomb.narrow</key>
    <string>circumflexcomb.narrow.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dieresiscomb.narrow</key>
    <string>dieresiscomb.narrow.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>f.calt</key>
    <string>f.calt.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
  </dict>
</plist>
