<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccedillaacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecedillabreve</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Emacronacute</string>
      <string>Emacrongrave</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
    </array>
    <key>public.kern1.Gdbls</key>
    <array>
      <string>Germandbls</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hbrevebelow</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
      <string>LJ</string>
      <string>N</string>
      <string>NJ</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Ndotbelow</string>
      <string>Eng</string>
      <string>Nlinebelow</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Ldotbelow</string>
      <string>Llinebelow</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
      <string>Mdotbelow</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Omacronacute</string>
      <string>Omacrongrave</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Otildeacute</string>
      <string>Otildedieresis</string>
      <string>Otildemacron</string>
      <string>Q</string>
      <string>Schwa</string>
      <string>at</string>
      <string>copyright</string>
      <string>at.case</string>
    </array>
    <key>public.kern1.Ohorn</key>
    <array>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
      <string>Rlinebelow</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Sacutedotaccent</string>
      <string>Scaron</string>
      <string>Scarondotaccent</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotaccent</string>
      <string>Sdotbelow</string>
      <string>Sdotbelowdotaccent</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
    </array>
    <key>public.kern1.Thorn</key>
    <array>
      <string>Thorn</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Umacrondieresis</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Utildeacute</string>
      <string>germandbls.calt</string>
    </array>
    <key>public.kern1.Uhorn</key>
    <array>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotaccent</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>DZcaron</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
    </array>
    <key>public.kern1.amper</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccedillaacute</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>Lj</string>
      <string>Nj</string>
      <string>d</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>dlinebelow</string>
      <string>i</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>j</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>ldotbelow</string>
      <string>lj</string>
      <string>llinebelow</string>
      <string>nj</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fi</string>
      <string>fl</string>
      <string>exclam</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>aeacute</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecedillabreve</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>emacronacute</string>
      <string>emacrongrave</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
    </array>
    <key>public.kern1.equal</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
      <string>approxequal</string>
    </array>
    <key>public.kern1.eth</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
      <string>five.lf</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
      <string>four.lf</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
    </array>
    <key>public.kern1.gdbls</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern1.guill</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillcs</key>
    <array>
      <string>guillemetleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern1.guilr</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.guilrcs</key>
    <array>
      <string>guillemetright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>periodcentered</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>figuredash</string>
      <string>horizontalbar</string>
      <string>hyphentwo</string>
    </array>
    <key>public.kern1.hyphencase</key>
    <array>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>iinvertedbreve</string>
      <string>itilde</string>
      <string>jacute</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
    </array>
    <key>public.kern1.lslash</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern1.min</key>
    <array>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern1.minus</key>
    <array>
      <string>bulletoperator</string>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
      <string>greater</string>
      <string>asciitilde</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>h</string>
      <string>hbar</string>
      <string>hbrevebelow</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>m</string>
      <string>mdotbelow</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>eng</string>
      <string>nlinebelow</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildeacute</string>
      <string>otildedieresis</string>
      <string>otildemacron</string>
    </array>
    <key>public.kern1.ohorn</key>
    <array>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
      <string>one.lf</string>
    </array>
    <key>public.kern1.ord</key>
    <array>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>asterisk</string>
      <string>registered</string>
      <string>degree</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.pi</key>
    <array>
      <string>pi</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.questiondown</key>
    <array>
      <string>questiondown</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
      <string>rlinebelow</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>sacutedotaccent</string>
      <string>scaron</string>
      <string>scarondotaccent</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotaccent</string>
      <string>sdotbelow</string>
      <string>sdotbelowdotaccent</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
      <string>seven.lf</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdieresis</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
    </array>
    <key>public.kern1.tcaron</key>
    <array>
      <string>tcaron</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
      <string>two.lf</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>idotless</string>
      <string>jdotless</string>
      <string>q</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>umacrondieresis</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>utildeacute</string>
      <string>exclamdown</string>
      <string>micro</string>
    </array>
    <key>public.kern1.uhorn</key>
    <array>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ymacron</string>
      <string>ytilde</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>Dzcaron</string>
      <string>dzcaron</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>three</string>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.lf</string>
      <string>three.lf</string>
      <string>six.lf</string>
      <string>eight.lf</string>
      <string>nine.lf</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.Eth</key>
    <array>
      <string>Eth</string>
      <string>Dcroat</string>
    </array>
    <key>public.kern2.Gdbls</key>
    <array>
      <string>Germandbls</string>
      <string>germandbls.calt</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>DZcaron</string>
      <string>Dcaron</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
      <string>Dzcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecedillabreve</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Emacronacute</string>
      <string>Emacrongrave</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hbrevebelow</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>LJ</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Ldotbelow</string>
      <string>Lj</string>
      <string>Llinebelow</string>
      <string>Lslash</string>
      <string>N</string>
      <string>NJ</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Ndotbelow</string>
      <string>Eng</string>
      <string>Nj</string>
      <string>Nlinebelow</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
      <string>Rlinebelow</string>
      <string>numero</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
      <string>Mdotbelow</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccedillaacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Omacronacute</string>
      <string>Omacrongrave</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Otildeacute</string>
      <string>Otildedieresis</string>
      <string>Otildemacron</string>
      <string>OE</string>
      <string>Q</string>
      <string>Schwa</string>
      <string>copyright</string>
      <string>at.case</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Sacutedotaccent</string>
      <string>Scaron</string>
      <string>Scarondotaccent</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotaccent</string>
      <string>Sdotbelow</string>
      <string>Sdotbelowdotaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Umacrondieresis</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Utildeacute</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotaccent</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>schwa</string>
    </array>
    <key>public.kern2.amper</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>dlinebelow</string>
      <string>dzcaron</string>
      <string>q</string>
    </array>
    <key>public.kern2.equal</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
      <string>approxequal</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f.calt</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f.calt</string>
    </array>
    <key>public.kern2.five</key>
    <array>
      <string>five</string>
      <string>five.lf</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
      <string>four.lf</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
    </array>
    <key>public.kern2.gdbls</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern2.guill</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillcs</key>
    <array>
      <string>guillemetleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern2.guilr</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.guilrcs</key>
    <array>
      <string>guillemetright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hbar</string>
      <string>hbrevebelow</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>i</string>
      <string>iacute</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>ihookabove</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>j</string>
      <string>jacute</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>ldotbelow</string>
      <string>lj</string>
      <string>llinebelow</string>
      <string>thorn</string>
      <string>exclam</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>periodcentered</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>figuredash</string>
      <string>horizontalbar</string>
      <string>hyphentwo</string>
    </array>
    <key>public.kern2.hyphencase</key>
    <array>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>igrave</string>
      <string>iinvertedbreve</string>
      <string>itilde</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.lslash</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern2.min</key>
    <array>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern2.minus</key>
    <array>
      <string>bulletoperator</string>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
      <string>less</string>
      <string>logicalnot</string>
      <string>asciitilde</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>idotless</string>
      <string>jdotless</string>
      <string>kgreenlandic</string>
      <string>m</string>
      <string>mdotbelow</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>eng</string>
      <string>nj</string>
      <string>nlinebelow</string>
      <string>ntilde</string>
      <string>p</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
      <string>rlinebelow</string>
      <string>exclamdown</string>
      <string>micro</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccedillaacute</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecedillabreve</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>emacronacute</string>
      <string>emacrongrave</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildeacute</string>
      <string>otildedieresis</string>
      <string>otildemacron</string>
      <string>oe</string>
      <string>at</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
      <string>one.lf</string>
    </array>
    <key>public.kern2.ord</key>
    <array>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>asterisk</string>
      <string>registered</string>
      <string>degree</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.pi</key>
    <array>
      <string>pi</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.quote</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>sacutedotaccent</string>
      <string>scaron</string>
      <string>scarondotaccent</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotaccent</string>
      <string>sdotbelow</string>
      <string>sdotbelowdotaccent</string>
    </array>
    <key>public.kern2.seven</key>
    <array>
      <string>seven</string>
      <string>seven.lf</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdieresis</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
    </array>
    <key>public.kern2.three</key>
    <array>
      <string>three</string>
      <string>three.lf</string>
    </array>
    <key>public.kern2.two</key>
    <array>
      <string>two</string>
      <string>two.lf</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>umacrondieresis</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>utildeacute</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ymacron</string>
      <string>ytilde</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>six</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.lf</string>
      <string>six.lf</string>
      <string>eight.lf</string>
      <string>nine.lf</string>
    </array>
  </dict>
</plist>
