<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>L</key>
    <dict>
      <key>periodcentered.loclCAT</key>
      <integer>-267</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>ordmasculine</key>
      <integer>-50</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>periodcentered.loclCAT</key>
      <integer>-81</integer>
    </dict>
    <key>periodcentered.loclCAT</key>
    <dict>
      <key>l</key>
      <integer>-81</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
