<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cedi.BRACKET.140</key>
    <string>cedi.B_R_A_C_K_E_T_.140.glif</string>
    <key>cent.BRACKET.140</key>
    <string>cent.B_R_A_C_K_E_T_.140.glif</string>
    <key>colonsign.BRACKET.140</key>
    <string>colonsign.B_R_A_C_K_E_T_.140.glif</string>
    <key>dollar.BRACKET.140</key>
    <string>dollar.B_R_A_C_K_E_T_.140.glif</string>
    <key>guarani.BRACKET.140</key>
    <string>guarani.B_R_A_C_K_E_T_.140.glif</string>
    <key>naira.BRACKET.140</key>
    <string>naira.B_R_A_C_K_E_T_.140.glif</string>
    <key>won.BRACKET.140</key>
    <string>won.B_R_A_C_K_E_T_.140.glif</string>
  </dict>
</plist>
