<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1636</integer>
    <key>capHeight</key>
    <integer>1426</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Commissioner Project Authors (https://github.com/kosbarts/Commissioner/Authors.txt)</string>
    <key>descender</key>
    <integer>-384</integer>
    <key>familyName</key>
    <string>Commissioner</string>
    <key>italicAngle</key>
    <integer>-12</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/12/14 12:45:33</string>
    <key>openTypeHheaAscender</key>
    <integer>2034</integer>
    <key>openTypeHheaDescender</key>
    <integer>-412</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Kostas Bartsokas</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.kostasbartsokas.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Kostas Bartsokas</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.kostasbartsokas.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Commissioner Flair</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>SemiBold Italic</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2034</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-412</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>IDKB</string>
    <key>openTypeOS2WeightClass</key>
    <integer>600</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2424</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>586</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-25.36842105263158</real>
      <integer>0</integer>
      <real>996.421052631579</real>
      <real>1022.7368421052631</real>
      <real>1374.3157894736842</real>
      <real>1402.5263157894738</real>
      <integer>1426</integer>
      <real>1454.2105263157894</real>
      <real>1465.0526315789473</real>
      <real>1493.2631578947369</real>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-410.3157894736842</real>
      <integer>-384</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>240.8421052631579</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>262.10526315789474</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Commissioner Flair SemiBold</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Flair SemiBold Italic</string>
    <key>trademark</key>
    <string>Commissioner is a trademark of Kostas Bartsokas</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>996.421052631579</real>
  </dict>
</plist>
