<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>L</key>
    <dict>
      <key>periodcentered.loclCAT</key>
      <integer>-239</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>ordmasculine</key>
      <integer>-10</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>periodcentered.loclCAT</key>
      <integer>5</integer>
    </dict>
    <key>periodcentered.loclCAT</key>
    <dict>
      <key>l</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
