<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1636</integer>
    <key>capHeight</key>
    <integer>1426</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Commissioner Project Authors (https://github.com/kosbarts/Commissioner/Authors.txt)</string>
    <key>descender</key>
    <integer>-384</integer>
    <key>familyName</key>
    <string>Commissioner</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/12/14 12:45:33</string>
    <key>openTypeHheaAscender</key>
    <integer>2034</integer>
    <key>openTypeHheaDescender</key>
    <integer>-412</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Kostas Bartsokas</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.kostasbartsokas.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Kostas Bartsokas</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.kostasbartsokas.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Commissioner Flair</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Bold</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2034</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-412</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>IDKB</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2424</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>586</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-27.210526315789473</real>
      <integer>0</integer>
      <real>998.5263157894736</real>
      <real>1026.421052631579</real>
      <real>1375.8947368421052</real>
      <real>1405.157894736842</real>
      <integer>1426</integer>
      <real>1455.2631578947369</real>
      <real>1465.3157894736842</real>
      <real>1494.578947368421</real>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-411.89473684210526</real>
      <integer>-384</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>285.0526315789474</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>312.63157894736844</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Commissioner Flair Regular</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>styleName</key>
    <string>Flair Bold</string>
    <key>trademark</key>
    <string>Commissioner is a trademark of Kostas Bartsokas</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>998.5263157894736</real>
  </dict>
</plist>
