<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>circumflexcomb.narrow</key>
    <string>circumflexcomb.narrow.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>f.calt</key>
    <string>f.calt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
