<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Dec 21 19, 15:15</string>
      <string>glyphs.D_ec 21 19, 15_15</string>
    </array>
    <array>
      <string>Dec 19 19, 16:26</string>
      <string>glyphs.D_ec 19 19, 16_26</string>
    </array>
    <array>
      <string>Dec 19 19, 16:26.background</string>
      <string>glyphs.D_ec 19 19, 16_26.background</string>
    </array>
    <array>
      <string>Jan 4 20, 13:15</string>
      <string>glyphs.J_an 4 20, 13_15</string>
    </array>
    <array>
      <string>Jan 4 20, 13:15.background</string>
      <string>glyphs.J_an 4 20, 13_15.background</string>
    </array>
    <array>
      <string>Jan 2 20, 15:07</string>
      <string>glyphs.J_an 2 20, 15_07</string>
    </array>
    <array>
      <string>Jan 2 20, 15:07.background</string>
      <string>glyphs.J_an 2 20, 15_07.background</string>
    </array>
    <array>
      <string>[140].background</string>
      <string>glyphs._140_.background</string>
    </array>
  </array>
</plist>
