<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
