<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>R</key>
    <string>R_.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
  </dict>
</plist>
