<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedi.BRACKET.140</key>
    <string>cedi.B_R_A_C_K_E_T_.140.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.BRACKET.140</key>
    <string>cent.B_R_A_C_K_E_T_.140.glif</string>
    <key>circumflexcomb.narrow</key>
    <string>circumflexcomb.narrow.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>f.calt</key>
    <string>f.calt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guarani.BRACKET.140</key>
    <string>guarani.B_R_A_C_K_E_T_.140.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peseta.BRACKET.140</key>
    <string>peseta.B_R_A_C_K_E_T_.140.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>peso.BRACKET.140</key>
    <string>peso.B_R_A_C_K_E_T_.140.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
