<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>cedi.BRACKET.140</key>
    <string>cedi.B_R_A_C_K_E_T_.140.glif</string>
    <key>dieresiscomb.narrow</key>
    <string>dieresiscomb.narrow.glif</string>
    <key>f.calt</key>
    <string>f.calt.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>peso.BRACKET.140</key>
    <string>peso.B_R_A_C_K_E_T_.140.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>won.BRACKET.140</key>
    <string>won.B_R_A_C_K_E_T_.140.glif</string>
  </dict>
</plist>
